.qa-user-list {
    width: 40px;
    height: 40px;
    background: #2D3340;

    position: relative;
}

.qa-red-notice {
    position: absolute;
    border-radius: 50%;
    background: red;
    height: 10px;
    width: 10px;
    right: 3px;
    top: 3px;
}


.qa div:nth-child(1) {
    margin-top: 0
}

.qa-msg {
    margin-left: 12px;
    margin-top: 16px;
}

.qa-user-image {
    background: #263340;
    border-radius: 50%;
    margin-top: 5px;
    width: 28px;
    height: 28px !important;
    margin: auto !important;

}

.qa-msg-img {
    width: 24px;
    height: 24px;
    background: #B2E0FF;
    border-radius: 50%
}