<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>
    <!-- <div class="thread_mess" id="thread_imgid" data-tid="67902">
        发动最后一次的宣传,看看是否连接可以点击了 ,如果不行,找我,如果行,就不要找我了!http://www.5usport.com
    </div> -->

    <script>
        let str = '发动最后一次的宣传,看看是否连接可以点击了 ,如果不行,找我,如果行,就不要找我了!http://www.5usport.com'
        if (str.length) {
            // var textR = $('.thread_mess').html();
            var textR = str;
            var reg = /(http:\/\/|https:\/\/)((\w|=|\?|\.|\/|&|-)+)/g;
            // var imgSRC = $('.thread_mess img').attr('src');
            if (reg.exec(imgSRC)) {
                console.log('1111');
            } else {
                textR = textR.replace(reg, "<a href='$1$2'>$1$2</a>");
                console.log('textR---', textR);
            }
            // document.getElementById('thread_imgid').innerHTML = textR;
        }
    </script>

</body>

</html>