.chat-box {
    height: 10%;
    position: relative;
    left: 0;
    bottom: 0;
}

textarea {
    outline: none;
    resize: none;
    border: none;
}

.msg-box {
    margin: 5px 0;
    padding-left: 10px;
    font-size: 14px;
    width: 260px;
    height: 70px;
    background: #263340;
    color: #D3D6D8;

}

.emoji-icon {
    width: 20px;
    height: 20px;
    color: #D3D6D8;
    margin-left: 5px;
    cursor: 'pointer'
}

.img-icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    color: #D3D6D8;
    cursor: 'pointer';
}


.btn-tool {
    display: flex;
    align-items: center;
    color: #D3D6D8;
    /* position: absolute;
    right: 5px;
    bottom: 5px; */
}

.msg-btn {
    margin-left: 3px;
    background: #7ECBFF;
    border-radius: 10px;
    width: 60px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.msg-box-mute {
    justify-content: center;
    height: 130px;
    align-items: center;
}

.mute-msg {
    width: 60px;
    height: 18px;
    font-size: 12px;
    font-family: "PingFangSC-Regular";
    font-weight: 400;
    color: #7C848C;
    line-height: 18px;
}

.emoji-all {
    position: absolute;
    left: 0;
    bottom: 140px;
    background: #263340;
    border-radius: 8px;
    cursor: pointer;
}

.emoji-content {
    margin-left: 5px;
}