.msg {
    width: auto;
    height: auto;
    font-size: 14px;
    font-family: 'PingFangSC-Regular';
    font-weight: 400;
    color: #D3D6D8;
    line-height: 20px;
    margin-left: 5px;
}

.msg-text {
    margin-left: 28px !important;
}

.msg-sender {
    margin-right: 3px;
    width: auto;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    color: #7C848C
}

.msg-img {
    width: 24px;
    height: 24px;
    background: #B2E0FF;
    border-radius: 50%
}


.delete-icon {
    margin-left: 5px;
    height: 16px;
    color: white;
    background: #000000;
    cursor: pointer;
}