.msg {
    width: auto;
    height: auto;
    font-size: 14px;
    font-family: 'PingFangSC-Regular';
    font-weight: 400;
    color: #D3D6D8;
    line-height: 20px;
    margin-left: 5px;
}

.msg-text {
    margin-left: 28px !important;
}

.msg-sender {
    margin-right: 3px;
    width: auto;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    color: #7C848C
}

.msg-img {
    width: 24px;
    height: 24px;
    background: #B2E0FF;
    border-radius: 50%
}

.mask {
    bottom: 0;
    left: 0;
    outline: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: #7C848C;
    opacity: .3;
    text-align: center;
    margin: 0 auto;
}

.card {
    position: fixed;
    top: 40%;
    margin: 0 auto;
    left: 40%;
    z-index: 9999999;
    height: 100px;
    width: auto;
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    width: 240px;
    height: 122px;
}

.card-txt {
    width: auto;
    height: 22px;
    font-size: 16px;
    font-family: 'PingFangSC-Medium',
        'PingFang SC';
    font-weight: 500;
    color: #333333;
    line-height: 22px;
}

.cancle-btn {
    width: 104px;
    height: 36px;
    background: #F5F5F5;
    border-radius: 22px;

}

.ok-btn {
    width: 104px;
    height: 36px;
    background: linear-gradient(90deg, #1DB4FE 0%, #028CFF 100%);
    border-radius: 22px;
}


.delete-icon {
    margin-left: 5px;
    height: 16px;
    color: white;
    background: #000000;
    cursor: pointer;
}