.message {
    margin-top: 10px;
    background: #263340;
    border-radius: 8px;
    height: calc(100% - 109px);
}

.message>.ant-tabs.ant-tabs-top {
    height: calc(100% - 182px);
}

.message>.ant-tabs.ant-tabs-top>.ant-tabs-content-holder {
    height: calc(100% - 45px);
}

.message>.ant-tabs.ant-tabs-top>.ant-tabs-content-holder>.ant-tabs-content {
    height: 100%;
}

.message>.ant-tabs.ant-tabs-top>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
    height: 100%;
}

.message>.member-msg {
    height: calc(100% - 172px);
}

.message-list,
.member-msg,
.qa-list {
    /* min-height: 400px;
    max-height: 400px; */
    padding: 10px 15px;
    overflow-y: scroll;
    height: calc(100% - 20px);
}

.user-list {
    padding: 10px 15px;
    overflow-y: scroll;
}

.user-border {
    border-right: 1px solid #606060 !important
}

/* 消息发送及接收者  */
.msg-sender {
    margin-right: 3px;
    width: auto;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    color: #626773;
    line-height: 18px;
}

.txt {
    margin-left: 28px !important;
}

.msg-text {
    width: 224px;
    height: 20px;
    font-size: 14px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    color: #CDD1D9;
    line-height: 20px;
}

/* 成员头像 */
.lsit-user-img {
    width: 28px;
    height: 28px;
    background: #B6F0DD;
    border-radius: 22px;
}

/* tag 标识 */
.tags {
    width: 56px;
    height: 18px;
    background: linear-gradient(90deg, #1DB4FE 0%, #028CFF 100%);
    border-radius: 3px;
    margin-right: 5px;

}

.tags-txt {
    width: 48px;
    height: 16px;
    font-size: 12px;
    font-family: 'PingFangSC-Regular',
        'PingFang SC';
    font-weight: 400;
    color: #FFFFFF;
    line-height: 16px;
}

/* 禁言图片 */
.mute-img {
    width: 14px !important;
    height: 14px !important;
    /* background-color: #000000; */
    background-color: #959BA6;
    margin-left: 5px !important;
}




/* antd 样式 */
.message_tab {
    margin-top: 8px;
    width: 280px;
    height: 408px;
    background: #263340;
}

.ant-tabs-nav-list {
    display: flex;
    justify-content: space-between;
    height: 44px;
    border-radius: 8px 8px 0px 0px;
    padding: 0 30px;
    border-bottom: 1px solid #263340;
    cursor: pointer;
}

.ant-tabs-nav-list :hover {
    color: #1890ff;
}

.ant-tabs-ink-bar-animated {
    display: none;
}

.ant-tabs-tab {
    height: 40px;
    font-size: 14px;
    font-family: "PingFangSC-Medium";
    font-weight: 500;
    color: #D3D6D8;
    line-height: 40px;
}

.ant-tabs-nav-operations-hidden {
    display: none;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
    color: #1890ff;
    background: #fff;
}

.ant-tabs-card.ant-tabs-bottom>.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-bottom>div>.ant-tabs-nav .ant-tabs-tab-active {
    border-top-color: #fff;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #1890ff;
    text-shadow: 0 0 0.25px currentColor;
}