.notice {
  width: auto;
  height: 80px;
  background: #263340;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 28px 5px 0 5px;
}

.notice__isEdit {
  height: 220px;
  background: none;
}

.notice .content {
  width: auto;
  height: 40px;
  background: #263340;
  border-radius: 8px;
}

.notice .content .content_box {
  font-size: 12px;
  font-family: "PingFangSC-Regular";
  font-weight: 400;
  color: #a8adb2;
  line-height: 18px;
  padding: 10px 0;
}

.notice .content .content_no {
  padding: 5px;
  text-align: center;
  width: auto;
  height: 18px;
  font-size: 12px;
  font-family: "PingFangSC-Regular";
  font-weight: 400;
  color: #515b66;
  line-height: 18px;
}

.title_center {
  text-align: center;
  width: auto;
}